/*********************************************************************************
*  WEB422 – Assignment 2
*  I declare that this assignment is my own work in accordance with Seneca Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Yunus Gumus Student ID: 150331197 Date: 2023/10/02
*
********************************************************************************/ 


table#moviesTable tbody tr {
    cursor: pointer;
    height: 70px;
}
#clearForm {
    background-color: transparent; 
    border: 2px solid red; 
    color: red; 
    padding: 5px 10px; 
    cursor: pointer; 
}

#clearForm:hover {
    background-color: red;
    color: white; 
}
.movie:hover {

    background-color: #d9d8d8; 
}

#closebtn{
    margin-left: 704px;
}

